.slider-nav {
  position: absolute;
  top: 50%;
  transition: 0.2s all;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  z-index: 3;
  width: 58px;
  height: 58px;

  @media (min-width: $tb_bp) {
    transform: translateY(-100%);
    opacity: 0;
  }

  @media (max-width: $tb_bp) {
    width: 36px;
    height: 36px;
  }

  &.button-prev {
    left: -29px;

    @media (max-width: $tb_bp) {
      left: -18px;
    }
  }

  &.button-next {
    right: -29px;

    @media (max-width: $tb_bp) {
      right: -18px;
    }
  }
}

.articles {
  position: relative;

  .swiper-slide {
    a {
      text-decoration: none;
    }
  }

  &__last {
    display: grid;
    gap: 30px;
    margin-bottom: 40px;

    @media (min-width: $dt_bp) {
      gap: 41px;
      grid-template-columns: minmax(0, 625px) 1fr;
      margin-bottom: 98px;
    }

    .big {
      .articleCard {
        background: transparent;
        border-radius: 0;
        padding: 0;
        max-width: 100%;
        grid-template-rows: auto auto 1fr auto;

        @media (min-width: $tb_bp) {
          gap: 16px;
        }

        .image {
          img {
            border-radius: 24px;
          }

          &.no-image {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            background: #ededed;
            border-radius: 24px;
            overflow: hidden;

            //&:before {
            //  position: absolute;
            //  content: 'No image';
            //  left: 50%;
            //  top: 50%;
            //  transform: translate(-50%, -50%);
            //  font-weight: 900;
            //  font-size: 160%;
            //  opacity: 0.5;
            //  text-transform: uppercase;
            //}
          }
        }

        .tags {
          li {
            background: $lightGray;
          }
        }
      }
    }

    .list {
      display: grid;
      gap: 16px;

      .articleCard {
        max-width: 100%;
        padding: 24px;
        min-height: 0;
      }
    }
  }

  .check_all_features {
    position: relative;

    @media (min-width: $tb_bp) {
      padding: 54px 0 124px;
    }

    .image {
      position: absolute;
      z-index: 1;
      right: 0;
      top: 50%;
      transform: translateY(-57%);

      @media (max-width: $tb_bp) {
        display: none;
      }

      img {
        max-width: 510px;

        @media (max-width: $dt_bp) {
          max-width: 420px;
        }
      }
    }

    .block {
      color: $white;
      display: grid;
      gap: 16px;
      position: relative;
      background: $black;
      overflow: hidden;
      border-radius: 24px;
      padding: 40px;

      @media (max-width: $dt_bp) {
        padding: 56px;
      }

      @media (min-width: $dt_bp) {
        padding: 74px;
      }

      &:before {
        content: "";
        position: absolute;
        border-radius: 2258px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 105, 0, 0.7) 0%, rgba(255, 117, 21, 0.7) 45.83%, rgba(255, 255, 255, 0) 100%);
        filter: blur(50px);
        width: 100%;
        height: 200%;
        top: 85%;
        left: 100%;
        transform: translate(-50%, -50%);
        z-index: 0;
      }

      > h2, > div, > p {
        position: relative;
        z-index: 1;
      }

      .actions {
        display: flex;
        gap: 21px;
        margin-top: 24px;

        @media (max-width: $sp_bp) {
          flex-direction: column;
        }
      }
    }
  }

  .featured_posts {
    position: relative;
    margin-bottom: 48px;

    .articles {
      &:hover {
        .slider-nav {
          @media (min-width: $tb_bp) {
            transform: translateY(-50%);
            opacity: 1;
          }
        }
      }

      .articleCard {
        @media (min-width: $tb_bp) {
          padding: 40px 32px;
        }
      }
    }
  }

  .updates_by_category {
    padding-bottom: 60px;

    h3 {

    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      a {
        font-size: 16px;
        font-weight: 600;
        padding: 12px 24px;
        border-radius: 10px;
        background: $lightGray;
        display: block;
        text-decoration: none;

        &:hover {
          background: $black;
          color: $white;
        }
      }
    }
  }

  .last_posts_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    padding-bottom: 108px;

    @media (max-width: $dt_bp) {
      padding-top: 50px;
      grid-template-columns: 1fr;
    }

    .head {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
    }

    .list {
      display: grid;
      gap: 16px;

      .articleCard {
        max-width: 100%;
        padding: 24px;
        min-height: 0;
      }
    }
  }

  .more_fhir {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-radius: 20px;
    background: $lightGray;
    padding: 30px;
    margin-bottom: 74px;

    .read {
      position: relative;
      right: auto;
      bottom: auto;
    }
  }
}

#subscribe {
  background: $lightGray;
  border-radius: 24px;
  position: relative;
  padding: 40px;

  @media (min-width: $dt_bp) {
    padding: 56px;
  }

  @media (min-width: $dt_bp) {
    padding: 74px;
  }

  .image {
    position: absolute;
    z-index: 1;
    right: -5%;
    top: 50%;
    transform: translateY(-62%);

    @media (max-width: $bdt_bp) {
      right: -9%;
    }

    @media (max-width: $dt_bp) {
      right: -3%;
      top: 50%;
      transform: translateY(27%);
      bottom: 0;
    }

    @media (max-width: $tb_bp) {
      display: none;
    }

    img {
      max-width: 510px;

      @media (max-width: $bdt_bp) {
        max-width: 420px;
      }

      @media (max-width: $dt_bp) {
        max-width: 220px;
      }
    }
  }

  h2 {
    max-width: 796px;
    margin-bottom: 16px;
  }

  .fields {
    display: grid;
    grid-template-columns: 1fr auto;
    position: relative;
    gap: 40px;
    max-width: 595px;
    margin-top: 40px;

    @media (max-width: $tb_bp) {
      grid-template-columns: 1fr;
    }

    .wpcf7-spinner {
      position: absolute;
    }

    input:not([type="submit"]) {
      background: transparent;
    }
  }
}

.archive {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 19px;

    .articleCard {
      max-width: 100%;
      padding: 24px;
      min-height: 0;

      &.image {
        padding: 0;
      }
    }
  }
}

.articles-archive {
  padding: 164px 0 65px;

  .page-head {
    h2, h1 {
      margin-top: 12px;
      margin-bottom: 43px;
    }
  }

  .articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px 16px;
    padding-bottom: 56px;

    @media (max-width: $tb_bp) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $sp_bp) {
      grid-template-columns: 1fr;
      grid-gap: 40px;
    }

    .card {
      .image {
        img {
          width: 240px;
          height: auto;
          margin-bottom: 24px;

          @media (max-width: 1340px) {
            width: 160px;
          }

          @media (max-width: $sp_bp) {
            width: 100%;
            object-fit: cover;
          }
        }
      }

      h4 {
        max-width: 320px;
      }

      ul {
        margin-top: 12px;
      }
    }
  }
}


.type-post {
  .breadcrumb {
    margin-bottom: 40px;
  }
  .entry-header {
    h1 {
      @media (min-width: $tb_bp) {
        font-size: 48px;
        margin-bottom: 16px;
      }
    }

    .date {
      font-size: 12px;
      opacity: 0.6;
    }
  }

  h2 {
    @media (min-width: $tb_bp) {
      font-size: 36px;
    }
  }

  .post_wrap {
    display: grid;
    gap: 42px;

    @media (min-width: $tb_bp) {
      grid-template-columns: 1fr 430px;
    }

    .check_all_features {
      padding: 0;

      .block {
        padding: 42px;
      }
    }

    .sidebar {
      display: flex;
      gap: 20px;
      flex-direction: column;

      .card {
        border-radius: 24px;
        background: $lightGray;
        padding: 32px;
      }

      .author {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 24px;

        h4 {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 4px;
        }

        p {
          &.position {
            margin-bottom: 12px;
            font-size: 16px;
          }
        }

        .photo {
          img {
            border-radius: 12px;
            max-width: 174px;

            @media (max-width: $tb_bp) {
              max-width: 120px;
            }
          }
        }
      }

      .whitepaper {
        display: grid;
        grid-template-columns: 132px 1fr;
        gap: 24px;
        position: sticky;
        top: 100px;

        a {
          text-decoration: none;
        }

        h4 {
          font-size: 18px;
          margin-bottom: 24px;
        }

        .image {
          img {
            width: 132px;
            object-fit: cover;
          }
        }
      }
    }
  }

}

.single-post {
  .blog_section {
    //overflow: visible;
  }

  #page {
    overflow: clip;
  }

  .entry-content {
    .excerpt {
      padding: 20px 30px;
      background: $lightGray;

      @media (max-width: 992px) {
        padding: 16px;
      }
    }
    ul {
      display: grid;
      gap: 10px;

      li {
        position: relative;
        padding-left: 18px;

        &:before {
          content: '';
          position: absolute;
          width: 6px;
          height: 6px;
          left: 0;
          background: #FF6900;
          top: 10px;
        }
      }
    }

    ol {
      counter-reset: itemnum;
      display: grid;
      gap: 10px;

      li {
        position: relative;

        &:before {
          counter-increment: itemnum;
          content: counters(itemnum, "", decimal-leading-zero) '. ';
        }
      }
    }

  }
}