.page {
  &__head {
    margin-bottom: 48px;

    h1 {
      margin-bottom: 16px;

      @media (min-width: $tb_bp) {
        font-size: 48px;
      }
    }

    p {
      font-size: 16px;
      max-width: 805px;
    }

    .list_categories {
      margin-top: 24px;
    }
  }

  &-template-page-contacts {
    #footer {
      padding: 164px 0 82px;

      @media (max-width: 992px) {
        padding: 110px 0 82px;
      }
    }
  }

  &.home, &.resources {
    #page {
      overflow: hidden;
    }
  }

  &.home, &.page-template-page-resources {
    #primary {
      overflow: hidden;
    }
  }
}

.page-template-page-contacts {
  .kodjin_contact_from {
    &.contact_us {
      label {
        &.message {
          @media (min-width: $tb_bp) {
            grid-column: 1/3;
          }
        }
      }

      .select2-container {
        width: 100% !important;
      }

      .select2-container--default .select2-selection--single {
        border-radius: 0;
        height: 50px;
        padding: 12px 0;
        border: 0;
        border-bottom: 2px solid #151515;
        font-size: 16px;
      }

      .select2-container .select2-selection--single .select2-selection__rendered {
        padding-left: 0;
      }

      .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 13px;
      }
    }
  }

  .select2-search {
    display: none;
  }

  .select2-search.select2-search--dropdown {
    display: none !important;
  }

  .select2-dropdown {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05) !important;
    border-radius: 0 0 12px 12px !important;
    border: 1px solid #F0F0F0 !important;
    font-size: 16px !important;
  }

  .select2-container--default .select2-results__option--selected {
    color: $orange !important;
    background: transparent;
  }

  .select2-results__options {

  }

  .select2-results__option {
    padding: 8px 16px;
    user-select: none;
    font-size: 16px;
  }

  .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #f6f6f6;
    color: black;
  }
}

.page-template-page-joint-project, .page-template-page-join-project-2025 {
  .join-page {
    .contactForm {
      border-radius: 12px;
      background: $lightGray;
      margin-top: 40px;

      @media (min-width: $tb_bp) {
        padding: 72px;
      }

      h2 {
        margin-bottom: 40px;
      }

      .form {
        max-width: 600px;
        margin: 0 auto;
      }

      .wpcf7-form {
        .fields {
          input:not([type="submit"]) {
            background: transparent;
          }
        }
      }
    }

    .sidebar {
      img {
        border-radius: 12px;
        max-width: 174px;
      }

      .whitepaper {
        @media (max-width: $sp_bp) {
          grid-template-columns: 1fr !important;

          img {
            width: 100% !important;
            max-width: 100% !important;
          }
        }
      }
    }

  }
}